.item {
    background-color: lightgrey;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
    color: darkblue;
    font-size: 1.2rem;
}