body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-area {
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-color: #ddd;
    margin: 20px auto;
    position: relative;
}

#square, #square2 {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    cursor: pointer;
    display: none;
}

#square2 {
    background-color: red;
}