body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 1000px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 30px;
    width: 150px;
    background-color: #eee;
    cursor: pointer;
}

.card-selected {
    background-color: lightblue;
    border: 1px solid darkblue;
}

.btns {
    margin-top: 20px;
}

.btns button {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    color: white;
}

#btnComprar {
    background-color: green;
}

#btnRedefinir {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}

.resultado {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
}

.whatsapp-sticky {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: black;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    box-shadow: 0 4px 6px rgb(104, 104, 104);
}

.whatsapp-sticky:hover {
    opacity: 0.8;
}