* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.limite_conteudo {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex_center {
  justify-content: center;
}

header {
  padding: 0.5rem 0;
  background: linear-gradient(rgba(119, 119, 170, 0.9), rgba(92, 86, 86, 0.8));
}